.wrapper {

    display: flex;
    position: relative;
    flex-direction: column;
    width: 1300px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;    
}


/* header block*/

.header {
    justify-content: space-between;
    display: flex;
    margin-top: 100px;
    align-items:center;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;    


}

.header-address {
    padding-left: 29px;
    align-items:center;
    padding-bottom: 20px;



}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items:center;
 

 

}

.gps {
    width: 24px;
    height: 31px;
    padding-right: 30px;
}

.header-right {
    display: flex;
    justify-content: space-around;

    

}
.header-phone {
   
    
}

.header-email {
    padding-left: 60px;
 
}


.header-web {
    padding-left: 90px;
}

/* main block*/

.main-first {
    margin-top: 68px    ;
    display: flex;
    
    background-color: #222130;
    font-family: 'Open Sans', sans-serif;    


}

.main-bio {
    display: flex;
    margin-left: 75px;
    justify-content: space-between;
    background-color: #222130;
    

    

    
}

.name {
font-size: 65px;
color: white;



}
.surname {
    font-weight: bold;
    font-size: 65px;
    margin-top: -45px;
    margin-bottom: 12px;
    color: white;
 


}

.photo {
  
    width: 400px;
    height: 500px;
    object-fit: cover;
    
 
}

.bio {
    margin-left: 62px;
    color: white;

}

.line {
      border: 2px solid;
      color: #fecb00;
      width: 320px;
      margin-left: 0px;

 
 
  
}

.about-me-up {
    letter-spacing: 5px;
    color: white;
    font-family: 'Open Sans', sans-serif;    
    margin-bottom: 50px;


}
.about-me-down {
    color: white;
    letter-spacing: 1   px;
    font-family: 'Open Sans', sans-serif;    



}


/* main second block */


.main-second {
display: flex;

 
}

.Skills {
    background-color: #fecb00;
    margin-left: 75px;
    width: 400px;
text-align: center;

}

h3 {
    font-size: 35px;
}

.Education {
    margin-left: 68px;

}
.English {
    margin-left: 68px;

}



.line-left {
    border: 1px solid;
    color: #dfb225;
    width: 250px;
    margin-right: 0;
    margin-top: -20px;
}

.line-right {
    border: 1px solid;
    color: #e1e1e1;
    width: 755px;

    margin-right: 0;
    margin-top: -20px;
}

.skills-list {
    text-align: left;
    margin-left: 50px;
    line-height: 28px;

}

.list {
    /* margin-left: 50px; */
}
.list-item {
    /* margin-left: 20px; */
}

.main-third {
    display: flex;
    height: 400px;
    margin-bottom: 100px;
}

.Hobbies-icon {
  
    width: 50px;
    height: 50px;
}

.hobbies {
    background-color: #fecb00;
    margin-left: 75px;
    width: 400px;
text-align: center;
justify-content: space-around;
}

.block-icons {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}

.run-icon{
justify-content: center;
}

.run {
    display: block;
}

.music {
   
    display: block;   

}

.eat {
    display: block;   

}

.lego {
    display: block;

}

.run-text {
    text-align: center;
}